@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --main-color: #ef443b;
  --black-color: #464646;
  --white-color: #fff;
  --height-header: 8rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.4;
  font-weight: 300;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }
}

/* Global css */
@import url('./css/global.css');
/* Reset css */
@import url('./css/reset.css');
/* Header css */
@import url('./css/header.css');
/* Banner css */
@import url('./css/banner.css');
/* Intro css */
@import url('./css/intro.css');
/* Trusted css */
@import url('./css/trusted.css');
/* Statistic css */
@import url('./css/statistic.css');
/* Features css */
@import url('./css/features.css');
/* Utilities */
@import url('./css/utilities.css');
/* Pricing css */
@import url('./css/pricing.css');
/* Comunity css */
@import url('./css/community.css');
/* Contact css */
@import url('./css/contact.css');
/* Footer css */
@import url('./css/footer.css');